<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcy.dubbo.provider.mapper.SysUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dcy.dubbo.provider.model.SysUserInfo">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="username"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="user_type" property="userType"/>
        <result column="email" property="email"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="sex" property="sex"/>
        <result column="avatar_path" property="avatarPath"/>
        <result column="user_status" property="userStatus"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_date" property="updateDate"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, nick_name, user_type, email, phone_number, sex, avatar_path, user_status,
        create_by, create_date, update_by, update_date, del_flag, remark
    </sql>

    <!-- 通用查询结果列 别名 -->
    <sql id="Base_Column_List_Alias">
        user.user_id AS userId,user.username AS username,user.password,user.nick_name AS nickName,user.user_type AS
        userType,user.email,user.phone_number AS phoneNumber,user.sex,user.avatar_path AS avatarPath,user.user_status AS
        userStatus,user.create_by AS createBy,user.create_date AS createDate,user.update_by AS updateBy,user.update_date
        AS updateDate,user.del_flag AS delFlag,user.remark
    </sql>
    <sql id="Base_Column_List_Role_Alias">
        role.role_id AS roleId,role.role_name AS roleName,role.role_key AS roleKey,role.role_status AS
        roleStatus,role.create_by AS createBy,role.create_date AS createDate,role.update_by AS updateBy,role.update_date
        AS updateDate,role.del_flag AS delFlag,role.remark
    </sql>
    <sql id="Base_Column_List_Group_Alias">
        gr.user_group_id AS userGroupId,gr.user_group_name AS userGroupName,gr.create_by AS createBy,gr.create_date AS
        createDate,gr.update_by AS updateBy,gr.update_date AS updateDate,gr.del_flag AS delFlag,gr.remark
    </sql>


</mapper>
